
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
.header{
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
    display: flex;
    padding-top: 45%;
    font-size: 60px;
}

.left{
    padding: 20px;
    box-sizing: border-box;
    background-color: #7e8c86;
}

.right{
    padding: 20px;
    box-sizing: border-box;
    background-color: #6c7873;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1.75fr;
    width: 100%;
    height: 100vh;
}

.button{
    background-color: #9eafa7;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    font-family: 'Playfair Display', serif;
}

.collectionButton{
    background-color: #7e8c86;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    font-family: 'Playfair Display', serif;
    width: 450px;
    height: 100px;
    text-align: center;
    font-size: 40px;
}

.button:hover{
    background-color: #6c7873;
}

.collectionButton:hover{
    background-color: #6c7873;
}